<.side_and_topbar
  current_user={@current_user}
  current_tenant={@current_tenant}
  language={@language}
  tenants_count={@tenants_count}
>
  <div class="px-4 lg:pl-80 lg:pr-8 py-10"></div>
</.side_and_topbar>
