@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/forms";

/* This file is for your main application CSS */
table:has(#log-categories) #log-categories > tr:first-child > td:has(.position) .position-up,
table:has(#log-categories) #log-categories > tr:last-child > td:has(.position) .position-down {
  @apply hidden;
}

table:has(#log-categories) #log-categories > tr:first-child > td:has(.position) .position-down,
table:has(#log-categories) #log-categories > tr:last-child > td:has(.position) .position-up {
  @apply pointer-events-none cursor-none;
}

table:has(#log-categories) #log-categories > tr:first-child > td:has(.position) .position-down .arrow,
table:has(#log-categories) #log-categories > tr:last-child > td:has(.position) .position-up .arrow {
  @apply text-gray-100 opacity-[0.5];
}
