@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/forms";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* light mode colors */
.light {
  --bg-primary: 255, 255, 255, 1;  
  --bg-secondary: 245, 245, 253, 1;

  --text-secondary: 113, 113, 113, 1;
  --text-primary: 31, 31, 31, 1;
 
  --button-border: 204, 201, 209, 1;
  --section-border: 203, 201, 210, 1;

  --icons-text-secondary: 113, 113, 113, 1;
}

/* This file is for your main application CSS */
table:has(#activities) #activities > tr:first-child > td:has(.position) .position-up,
table:has(#activities) #activities > tr:last-child > td:has(.position) .position-down {
  @apply pointer-events-none cursor-none opacity-10;
}

.invitation-language-input:checked ~ .lang-flag {
  @apply outline outline-2 outline-offset-2 outline-red-500 rounded-full;
}

.checked-radio {
  @apply outline outline-2 outline-offset-2 outline-red-500 rounded-md;
}
