@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/forms";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import '../node_modules/flatpickr/dist/flatpickr.css';

/* light mode colors */
:root {
  --bg-primary: 255, 255, 255;
  --bg-secondary: 245, 245, 253;

  --txt-primary: 31, 31, 31;
  --txt-secondary: 113, 113, 113;

  --btn-border: 204, 201, 209;
  --section-border: 203, 201, 210;

  --icons-txt-secondary: 113, 113, 113;

  --form-subtitle-txt: 31, 31, 31;
  --form-txt-primary: 113, 113, 113;
  --form-error-text: 197, 69, 84;
  --form-error-bg: 255, 221, 218;
  --form-info-primary: 108, 51, 243;
  --form-input-border: 189, 189, 189;
  --form-radio-checked-primary: 69, 172, 226;
  --form-radio-checked-secondary: 197, 69, 84;
  --form-dropdown-bg: 255, 255, 255;
  --form-dropdown-border: 189, 189, 189;
  --form-dropdown-shadow: 236, 236, 236;
  --form-dropdown-txt: 31, 31, 31;
  --form-border-focus: 103, 114, 242;
  --client-form-btn-bg: 123, 196, 109;
  --client-form-btn-txt: 255, 255, 255;
  --form-error-popup-bg: 249, 236, 238;
  --form-error-popup-txt: 140, 49, 60;

  --time-tracking-container-border: 203, 212, 215;
  --time-tracking-container-shadow: 222 224 225;
  --time-tracking-container-bg: 255, 255, 255;

  --activity-list-bg: 241, 243, 244;
  --time-tracker-start-btn-bg: 124, 196, 108;
  --time-tracker-start-btn-active-txt: 255, 255, 255;
  --time-tracker-start-btn-active-bg: 124, 196, 108;
  --time-tracker-countdown-btn-bg: 68, 108, 60;
  --time-tracker-dropdown-border: 203, 201, 210;
  --time-tracker-start-btn-disabled-bg: 232, 232, 232;
  --time-tracker-start-btn-disabled-txt: 157, 157, 157;
}

/* dark mode colors */
/* TODO: put proper dark mode colors */
.dark {
  --bg-primary: 255, 255, 255;
  --bg-secondary: 245, 245, 253;

  --txt-primary: 31, 31, 31;
  --txt-secondary: 113, 113, 113;

  --btn-border: 204, 201, 209;
  --section-border: 203, 201, 210;

  --icons-txt-secondary: 113, 113, 113;

  --form-subtitle-txt: 31, 31, 31;
  --form-txt-primary: 113, 113, 113;
  --form-error-text: 139, 31, 25;
  --form-error-bg: 255, 221, 218;
  --form-info-primary: 108, 51, 243;
  --form-input-border: 189, 189, 189;
  --form-radio-checked-primary: 69, 172, 226;
  --form-radio-checked-secondary: 197, 69, 84;
  --form-dropdown-bg: 255, 255, 255;
  --form-dropdown-border: 189, 189, 189;
  --form-dropdown-shadow: 236, 236, 236;
  --form-dropdown-txt: 31, 31, 31;
  --form-border-focus: 103, 114, 242;
  --client-form-btn-bg: 123, 196, 109;
  --client-form-btn-txt: 255, 255, 255;
  --form-error-popup-bg: 249, 236, 238;
  --form-error-popup-txt: 140, 49, 60;

  --time-tracking-container-border: 203, 212, 215;
  --time-tracking-container-shadow: 222 224 225;
  --time-tracking-container-bg: 255, 255, 255;

  --activity-list-bg: 241, 243, 244;
  --time-tracker-start-btn-bg: 124, 196, 108;
  --time-tracker-start-btn-txt: 255, 255, 255;
  --time-tracker-countdown-btn-bg: 68, 108, 60;
  --time-tracker-dropdown-border: 203, 201, 210;
  --time-tracker-start-btn-disabled-bg: 232, 232, 232;
  --time-tracker-start-btn-disabled-txt: 157, 157, 157;
}

/* This file is for your main application CSS */
table:has(#activities) #activities > tr:first-child > td:has(.position) .position-up,
table:has(#activities) #activities > tr:last-child > td:has(.position) .position-down {
  @apply pointer-events-none cursor-none opacity-10;
}

.invitation-language-input:checked ~ .lang-flag {
  @apply outline outline-2 outline-offset-2 outline-red-500 rounded-full;
}

.checked-radio {
  @apply outline outline-2 outline-offset-2 outline-red-500 rounded-md;
}

.search-input-container:has(.search-input:focus) {
  @apply border-form-border-focus;
}

/* Scrollbars */
.dropdown-options-list::-webkit-scrollbar {
  @apply w-[.25em];
}

.dropdown-options-list::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.dropdown-options-list::-webkit-scrollbar-thumb {
  @apply bg-form-border-focus;
  border-radius: 1em;
}

.flatpickr-wrapper {
  @apply relative w-full;
}

.time-tracking-form-grid {
  position: relative;
  display: grid;
  gap: .5em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "activity-prompt activity-prompt"
    "btn btn";
}

.time-tracking-form-grid > .activity-btn {
  grid-area: activity-prompt;
}

.time-tracking-form-grid > .project-btn {
  grid-area: project-prompt;
}

.time-tracking-form-grid > button {
  grid-area: btn;
} 

.time-tracking-form-grid .prompt-text {
 @apply line-clamp-1;
}
